In [121]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
import seaborn as sns
import matplotlib.pyplot as mp

In [122]:
df = sns.load_dataset("titanic")

In [123]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [124]:
df.drop('class',axis=1,inplace=True)

In [125]:
df.drop('embarked',axis=1,inplace=True)

In [126]:
df.drop('alone',axis=1,inplace=True)

In [127]:
df.drop('deck',axis=1,inplace=True)

In [128]:
df.drop('alive',axis=1,inplace=True)

In [129]:
df.drop('adult_male',axis=1,inplace=True)

In [130]:
df

     survived  pclass     sex   age  sibsp  parch     fare    who  embark_town
0           0       3    male  22.0      1      0   7.2500    man  Southampton
1           1       1  female  38.0      1      0  71.2833  woman    Cherbourg
2           1       3  female  26.0      0      0   7.9250  woman  Southampton
3           1       1  female  35.0      1      0  53.1000  woman  Southampton
4           0       3    male  35.0      0      0   8.0500    man  Southampton
..        ...     ...     ...   ...    ...    ...      ...    ...          ...
886         0       2    male  27.0      0      0  13.0000    man  Southampton
887         1       1  female  19.0      0      0  30.0000  woman  Southampton
888         0       3  female   NaN      1      2  23.4500  woman  Southampton
889         1       1    male  26.0      0      0  30.0000    man    Cherbourg
890         0       3    male  32.0      0      0   7.7500    man   Queenstown

[891 rows x 9 columns]

In [131]:
df['family_size']= df['sibsp']+df['parch']

In [132]:
df

,survived,pclass,sex,age,sibsp,parch,fare,who,embark_town,family_size
0,0,3,male,22.0,1,0,7.2500,man,Southampton,1
1,1,1,female,38.0,1,0,71.2833,woman,Cherbourg,1
2,1,3,female,26.0,0,0,7.9250,woman,Southampton,0
3,1,1,female,35.0,1,0,53.1000,woman,Southampton,1
4,0,3,male,35.0,0,0,8.0500,man,Southampton,0
...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,man,Southampton,0
887,1,1,female,19.0,0,0,30.0000,woman,Southampton,0
888,0,3,female,NaN,1,2,23.4500,woman,Southampton,3
889,1,1,male,26.0,0,0,30.0000,man,Cherbourg,0
890,0,3,male,32.0,0,0,7.7500,man,Queenstown,0

In [133]:
df.drop('sibsp',axis=1,inplace=True)
df.drop('parch',axis=1,inplace=True)
df.drop('who',axis=1,inplace=True)

In [134]:
df

     survived  pclass     sex   age     fare  embark_town  family_size
0           0       3    male  22.0   7.2500  Southampton            1
1           1       1  female  38.0  71.2833    Cherbourg            1
2           1       3  female  26.0   7.9250  Southampton            0
3           1       1  female  35.0  53.1000  Southampton            1
4           0       3    male  35.0   8.0500  Southampton            0
..        ...     ...     ...   ...      ...          ...          ...
886         0       2    male  27.0  13.0000  Southampton            0
887         1       1  female  19.0  30.0000  Southampton            0
888         0       3  female   NaN  23.4500  Southampton            3
889         1       1    male  26.0  30.0000    Cherbourg            0
890         0       3    male  32.0   7.7500   Queenstown            0

[891 rows x 7 columns]

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   fare         891 non-null    float64
 5   embark_town  889 non-null    object
 6   family_size  891 non-null    int64
dtypes: float64(2), int64(3), object(2)
memory usage: 48.9+ KB

In [136]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
fare             0
embark_town      2
family_size      0
dtype: int64

In [137]:
df['age'].fillna(df['age'].mean(),inplace=True)

/tmp/ipykernel_15028/1492264711.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].mean(),inplace=True)

In [138]:
df.isnull().sum()

survived       0
pclass         0
sex            0
age            0
fare           0
embark_town    2
family_size    0
dtype: int64

In [139]:
df['embark_town'].fillna(df['embark_town'].mode()[0],inplace=True)

/tmp/ipykernel_15028/751922478.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['embark_town'].fillna(df['embark_town'].mode()[0],inplace=True)

In [140]:
df.isnull().sum()

survived       0
pclass         0
sex            0
age            0
fare           0
embark_town    0
family_size    0
dtype: int64

In [141]:
df

     survived  pclass     sex        age     fare  embark_town  family_size
0           0       3    male  22.000000   7.2500  Southampton            1
1           1       1  female  38.000000  71.2833    Cherbourg            1
2           1       3  female  26.000000   7.9250  Southampton            0
3           1       1  female  35.000000  53.1000  Southampton            1
4           0       3    male  35.000000   8.0500  Southampton            0
..        ...     ...     ...        ...      ...          ...          ...
886         0       2    male  27.000000  13.0000  Southampton            0
887         1       1  female  19.000000  30.0000  Southampton            0
888         0       3  female  29.699118  23.4500  Southampton            3
889         1       1    male  26.000000  30.0000    Cherbourg            0
890         0       3    male  32.000000   7.7500   Queenstown            0

[891 rows x 7 columns]

In [142]:
df['sex'] = df['sex'].replace({'male':1,'female':0})

/tmp/ipykernel_15028/567893378.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['sex'] = df['sex'].replace({'male':1,'female':0})

In [143]:
df

     survived  pclass  sex        age     fare  embark_town  family_size
0           0       3    1  22.000000   7.2500  Southampton            1
1           1       1    0  38.000000  71.2833    Cherbourg            1
2           1       3    0  26.000000   7.9250  Southampton            0
3           1       1    0  35.000000  53.1000  Southampton            1
4           0       3    1  35.000000   8.0500  Southampton            0
..        ...     ...  ...        ...      ...          ...          ...
886         0       2    1  27.000000  13.0000  Southampton            0
887         1       1    0  19.000000  30.0000  Southampton            0
888         0       3    0  29.699118  23.4500  Southampton            3
889         1       1    1  26.000000  30.0000    Cherbourg            0
890         0       3    1  32.000000   7.7500   Queenstown            0

[891 rows x 7 columns]

In [146]:
df['embark_town'] = df['embark_town'].replace({'Cherbourg':0,'Queenstown':2,'Southampton':0})

/tmp/ipykernel_15028/1529985732.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['embark_town'] = df['embark_town'].replace({'Cherbourg':0,'Queenstown':2,'Southampton':0})

In [147]:
df

     survived  pclass  sex        age     fare  embark_town  family_size
0           0       3    1  22.000000   7.2500            0            1
1           1       1    0  38.000000  71.2833            0            1
2           1       3    0  26.000000   7.9250            0            0
3           1       1    0  35.000000  53.1000            0            1
4           0       3    1  35.000000   8.0500            0            0
..        ...     ...  ...        ...      ...          ...          ...
886         0       2    1  27.000000  13.0000            0            0
887         1       1    0  19.000000  30.0000            0            0
888         0       3    0  29.699118  23.4500            0            3
889         1       1    1  26.000000  30.0000            0            0
890         0       3    1  32.000000   7.7500            2            0

[891 rows x 7 columns]

In [149]:
y = df['survived']
x = df.drop('survived', axis=1)

In [151]:
scaler = StandardScaler()
x_train, x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [154]:
numerical_cols = ['age','fare','family_size']

In [155]:
x_train[numerical_cols]=scaler.fit_transform(x_train[numerical_cols])

x_test[numerical_cols]=scaler.transform(x_test[numerical_cols])

In [156]:
model = LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [157]:
y_pred = model.predict(x_test)
print(f"Accuracy: {accuracy_score(y_test,y_pred)*100}%")

Accuracy: 80.44692737430168%